# Ignore everything
/*

# But not these files...
!.gitignore
!package.png
!/_OurData
!/_Scenes
!/SimpleNaturePack


# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
